<body>
    <div class="header-text">
      <h1 class="fauci-s-goons">Fauci&#x27;s Goons</h1>
    </div>
    <div>
      <div class="columns w-row">
        <div class="column-2 w-col w-col-4"></div>
        <div class="column w-col w-col-8"></div>
      </div>
    </div>
    <div class="bios-1" style="align-items:flex-end">
      <div class="bio">
        <h1 class="name-right">Eric Jiang</h1>
        <p class="bio-paragraph-right description">Eric has been with Sogeti since July 2019, and is currently in a QA Engineer role. He holds a B.S. in Biomedical Engineering from Duke University and a M.S. in Computer Science with a Data Analytics concentration from the University of Houston. Experienced in Python and R programming for data science and machine learning applications. Prior to joining Sogeti, Eric conducted oncology research at the MD Anderson Cancer Center and managed a startup sports facility in Houston</p>
      </div><img src="assets/img/eric.jpg" loading="lazy" alt="" class="bio-photo"><img src="assets/img/LeoGordillo-copy.png" loading="lazy" alt="" class="bio-photo">
      <div class="bio">
        <h1 class="name-left">Leonel Gordillo</h1>
        <p class="bio-paragraph-left description">Leo has recently graduated from the University of Houston with a Bachelor’s degree in Computer Science. During his time at UH, Leo learned Java, C, C++, SQL, PHP, and Swift for iOS mobile development. Instead of completing a minor at UH, Leo decided to complete a special Software Design degree option which allowed him to learn about vital software development practices.  With this, he gained deep knowledge of important Agile methodologies, software architectures, and software design patterns.</p>
      </div>
    </div>
    <div class="bios-1">
      <div class="bio" style="margin-top: -20px;">
        <h1 class="name-right">Juan Peraza</h1>
        <p class="bio-paragraph-right description">Juan is a Senior DevOps Engineer with expertise in Azure Services, Azure DevOps, CI/CD Pipelines, Source Code Management, Branching Strategies, Release Engineering, Test Automation Execution, and Process Improvement.  I also have enterprise-level experience managing the Atlassian suite of tools – JIRA, Confluence, Bitbucket, and Bamboo.</p>
      </div><img src="assets/img/juan.jpg" loading="lazy" alt="" class="bio-photo"><img src="assets/img/stephen.jpg" loading="lazy" alt="" class="bio-photo">
      <div class="bio" style="margin-top: -20px;">
        <h1 class="name-left">Stephen Peters</h1>
        <p class="bio-paragraph-left description">Stephen is a Senior UX/UI designer and researcher with 20 years of experience in design, customer experience, and user research.  He has expertise in visual design, mobile and responsive UX/UI, voice interface and conversational design, and user research. Before joining Sogeti in March 2020, Stephen freelance consulted on enterprise software design, service design, and UX strategy &amp; research.  He also served as a creative lead in the automotive industry and conducted graduate research at the University of Houston</p>
      </div>
    </div>
  </body>