.columns {
    display: inline-flex;

}

.intro-text {
    padding-top: 40px;
    padding-bottom: 25px;
}

.prediction-graph {
    padding-top: 20px;
    padding-bottom: 20px;
}

.left-column {
    top: -56px;
    margin-bottom: -56px;
    background-color: rgba(58, 122, 168, 0.4)
}

.column-text {
    margin-left: 45px;
    margin-right: 20px;
}