<div class="intro">

    <div class="overview">
        <h2><b>During globally disruptive events like the recent outbreak of Covid-19, </b>
            <span style="font-size: 17px;">
                consumer behavior can dramatically change. In this study, we sought to better understand the
                relationship between mobility types, geographic location, and general economic markers. Using AI, we
                analyzed this data to predict which areas might have faster recovery, in the hopes of giving business
                insights that would optimize their marketing strategies.
            </span>
        </h2>
    </div>
    <div style="background-color: darkgray;">
        <app-us-bubble-map></app-us-bubble-map>
    </div>
</div>  