<div class="intro">
    <h1>Our Vision</h1>
    <h3>
        During globally disruptive events like <b>Covid-19</b>
        , where consumer behavior can dramatically change due
        to a variety of factors, we sought to better understand
        the relationship between data relating to population density,
        general economic markers, and mobility factors. With this
        information, businesses could make informed decisions about
        targeted marketing opportunities based on customer segmentation
        and geography.
    </h3>
</div>