<div class="intro">

    <div class="overview col-md-12">
        <h2 class="intro-text col-md-5"><b>During globally disruptive events like the recent outbreak of Covid,</b></h2>
        <h4 class="col-md-7" class="intro-subtext">
            consumer behavior can dramatically change. In this study, we sought to better understand the
            relationship between mobility types, geographic location, and general economic markers. Using AI, we
            analyzed this data to predict which areas might have faster recovery, in the hopes of giving business
            insights that would optimize their marketing strategies.
        </h4>
    </div>
    <div class="bubble-map">
        <app-us-bubble-map class="us-map-component"></app-us-bubble-map>
    </div>
</div>  