.intro {
    padding-top: 30px;
}

.intro-text {
    font-size: 37px;
    line-height: 44px;
}

.intro-subtext {
    font-size: 16px;
    line-height: 29px;
    word-spacing: 2px;
}

.overview {
    display: inline-flex;
    padding-left: 15%;
    padding-right: 15%; 
    padding-bottom: 30px;
}

.bubble-map {
    background-color: rgba(58, 122, 168, 0.4);
    text-align: center;
}