<div class="container" style="max-width: 100%;">
    <div class="summary">
        <h3><b>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse ipsum metus, consequat at hendrerit id, lacinia
            egestas risus. Nulla lobortis orci arcu, non aliquet nisl rutrum vitae. Mauris nec fermentum magna, eu consectetur
            purus. Donec non pulvinar diam. Curabitur ornare mattis augue ac tincidunt. Nullam nec augue fringilla nisi rutrum
        </b></h3>
    </div>

<app-line-graph>
</app-line-graph>


</div>
