.summary {
    max-width: 85%;
    padding-left: 50px;
    padding-right: 50px;
    display: inline-block;
    text-align: left;
    padding-bottom: 30px;
}

.summary-2 {
    max-width: 85%;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 25px;
    display: inline-block;
    text-align: left;
}

.line-graph {

}
