<div class="container" style="max-width: 100%; text-align: -webkit-center;">
    <div class="summary">
        <h3>
            With mobility patterns in hand, we overlayed the changes in major economic sectors experienced during the
            pandemic in order to discover the relationship between mobility trends and retail sales.
        </h3>
    </div>

    <div class="container">
        <app-line-graph>
        </app-line-graph>
    </div>

    <div class="summary">
        <h3>
            In doing so, we found that most retail sectors had a proportional response to mobility. <b>In contrast, we
                found that food and beverage stores, grocery stores, liquor stores, health and personal care, pharmacy,
                electronic sales showed an independence of mobility.</b> At the points when a significant decrease was
            seen in mobility, and most economic sectors, these sectors saw increases.
        </h3>
    </div>


</div>