.container {
    position: absolute;
}

.state {
    stroke: grey;
    stroke-width: 0.3;
    width: 300px;
}
.background {
    fill: none;
    pointer-events: all;
}

div.tooltip {
    position: absolute;
    text-align: left;
    width: 140px;
    height: 55px;
    padding: 2px;
    font: 12px sans-serif;
    background: white;
    color: black;
    border: 1px solid grey;
    border-radius: 8px;
    pointer-events: none;
}
  
#legend-container {
    fill: white;
    stroke: grey;
    stroke-width: 2;
}
  
.bubble {
    fill-opacity: .7;
    stroke: #fff;
    stroke-width: .5px;
    fill: red;
}
  
.slider {
    width: 200px;
}

.slider-group {
    display: inline-flex;
}

.mobility-buttons {
    margin: 10px
}

.filter-elemenets {
    font-size: 16px;
    position: absolute;
}

.svg-container {
    height: 450px;
    display: inline-block;
    position: relative;
    width: 100%;
    // padding-bottom: 100%;
    vertical-align: top;
    overflow: hidden;
}
.svg-content {
    display: inline-block;
    top: 0;
    left: 0;
    height: 450px;
    background-color: darkgray;
}

.date {
    position: absolute;
    left: 675px;
    top: 170px;
    width:150px;
}

.year {
    // margin-bottom: 0px;
    // line-height: 42px;
    font-size: 105px !important;
    margin-bottom: -15px !important;
    letter-spacing: -2px;
}

.month {
    display: flex;
    font-size: 82px !important;
    line-height: 115px !important;
}

.day {
    font-size: 82px !important;
    line-height: 115px !important;
}