.description {
    background-color: #FFFFFF;
}

.heat-map{
    display: flex;
    justify-content: left;
    background-color: #FFFFFF;
    padding: 20px;
}

.map-description {
    padding: 10px;
    margin-left: -200px;
}