.heat-map-page {
    padding-top: 20px;
}

.description {
    background-color: #FFFFFF;
    padding-left: 40px;
}

.heat-map{
    display: flex;
    justify-content: left;
    background-color: #FFFFFF;
    padding: 20px;
    padding-left: 50px;
}

.map-description {
    padding: 10px;
    margin-left: -200px;
    padding-right: 40px;
}