<div class="heat-map-page">
    <div class="description">
        <h1>Covid 19 and Consumer Mobility</h1>

    </div>

    <div class="heat-map">
        <app-counties-map></app-counties-map>
        <p class="map-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse sit amet libero
            pulvinar, dapibus ante quis,
            auctor enim. Aliquam sollicitudin justo vel nisi vulputate faucibus. Nulla eu ipsum eu ante rutrum
            tincidunt.
            Proin placerat nisl dolor, non fringilla arcu consequat consectetur. Aenean pretium sapien ut velit
            convallis,
            in volutpat diam dictum. Integer turpis urna, sollicitudin id lorem at, ullamcorper varius velit. Proin
            fermentum convallis odio ut laoreet.</p>
    </div>
</div>