<div class="col-md-12 heat-map-page">
    <div class="col-md-6 description">
        <h1 class="title">Covid 19 and Consumer Mobility</h1>
        <app-counties-map></app-counties-map>
    </div>

    <div class="col-md-6 map-description">
        <h3>In order to narrow the scope of the project, we seleced Texas as the geographic
            region of focus. A public, anonymized data set maintained by Apple Inc provided population mobility
            information for 3 modes; driving, transit, and walking. With daily records for each county, we mapped these
            values as a time series to discover trends.
        </h3>
        <ul type="disc" style="padding-left: 17px;">
            <h3>
                <li style="padding-top: 30px">
                    Relative mobility was used to control for the deviations that would normally be seen across varying
                    population sizes.
                </li>
                <li style="padding-top: 20px">
                    We saw mobility proportionately respond to trends in Covid cases, coupled with state closures. In
                    turn, we
                    also saw mobility patterns beginning to rebound to normal levels, only to fall again in line with a
                    resurgence of cases and government response.
                </li>
            </h3>
        </ul>



    </div>
</div>